In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\ASUS\OneDrive\Desktop\House\archive (1)\Housing.csv')

In [3]:
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [ ]:
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\House\archive (1)\Housing.csv")

In [8]:
X = df.drop('price', axis=1)
y = df['price']

In [9]:
cat_features = ['mainroad', 'guestroom', 'basement', 'hotwaterheating', 
                'airconditioning', 'prefarea', 'furnishingstatus']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
model = CatBoostRegressor(
    iterations=500,
    depth=6,
    learning_rate=0.05,
    loss_function='RMSE',
    cat_features=cat_features,
    verbose=100
)

In [12]:
model.fit(X_train, y_train, cat_features=cat_features)

0:	learn: 1714878.6468258	total: 32ms	remaining: 16s
100:	learn: 795237.0635145	total: 3.56s	remaining: 14.1s
200:	learn: 647209.8681862	total: 7.19s	remaining: 10.7s
300:	learn: 553316.4555201	total: 11s	remaining: 7.24s
400:	learn: 495043.6222318	total: 14.7s	remaining: 3.63s
499:	learn: 456295.4745538	total: 18.4s	remaining: 0us

In [13]:
y_pred = model.predict(X_test)

In [14]:
# Evaluate
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

In [15]:
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
r2 = r2_score(y_test, y_pred)

print(f"RMSE: {rmse:.2f}")
print(f"R² Score: {r2:.2f}")

RMSE: 1350311.40
R² Score: 0.64

In [16]:
# new data prediction
# Predict for a new sample (example)
sample = pd.DataFrame({
    'area': [3500],
    'bedrooms': [3],
    'bathrooms': [2],
    'stories': [2],
    'mainroad': ['yes'],
    'guestroom': ['no'],
    'basement': ['no'],
    'hotwaterheating': ['no'],
    'airconditioning': ['yes'],
    'parking': [1],
    'prefarea': ['yes'],
    'furnishingstatus': ['furnished']
})

In [17]:
predicted_price = model.predict(sample)
print("Predicted House Price:", predicted_price[0])

Predicted House Price: 6118696.560950241

0:	learn: 1714878.6468258	total: 171ms	remaining: 1m 25s
100:	learn: 795237.0635145	total: 3.81s	remaining: 15s
200:	learn: 647209.8681862	total: 7.29s	remaining: 10.8s
300:	learn: 553316.4555201	total: 10.9s	remaining: 7.22s
400:	learn: 495043.6222318	total: 14.6s	remaining: 3.61s
499:	learn: 456295.4745538	total: 18.1s	remaining: 0us
RMSE: 1350311.40
R² Score: 0.64
Predicted House Price: 6118696.560950241